extends layout

block content
  h1= title
  p Welcome to #{title}
  p Math.fround () applied to #{x},#{y} is #{a};
  p Math.random () applied to #{x} is #{b};
  p Math.round () applied to #{x} is #{c};
  